<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabHome">
      <ion-icon name="home"></ion-icon>
      <ion-label>ホーム</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabMyStore">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>マイストア</ion-label>
    </ion-tab-button>

    <!-- FAB用のスペース -->
    <ion-tab-button disabled></ion-tab-button>

    <ion-fab>
      <ion-fab-button routerLink="/tabs/tabMyStore">
        <table>
          <tbody>
            <tr>
              <ion-icon name="search"></ion-icon>
            </tr>
            <tr>
              <ion-label>検索</ion-label>
            </tr>
          </tbody>
        </table>
      </ion-fab-button>
    </ion-fab>

    <ion-tab-button tab="tabAccount">
      <ion-icon name="person"></ion-icon>
      <ion-label>アカウント</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabShop">
      <ion-icon name="cart"></ion-icon>
      <ion-label>ショップ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
